h1{
    background-color: aqua;
}
p{
    background-color: blue;
}
div{
    background-color: blueviolet;
}
span{
    background-color: chocolate;
}
a{
    background-color: darkgreen;
}
ul{
    background-color: cornflowerblue;
}
ol{
    background-color: yellow;
}